DATABASE_URL='driver://user:password@host:port/dbname'
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
JWT_SECRET_KEY=your_secret_jwt_key
ALGORITHM=your_algorithm
TOKEN_TYPE=type_of_token
AWS_ACCESS_KEY='your_access_key'
AWS_SECRET_ACCESS_KEY='secret_access_key'